{% extends 'base.html' %}

{% block title %}Lista Miejsc{% endblock %}

{% block content %}
    <h1>Interesujące miejsca</h1>

    <div class="card mb-4">
        <div class="card-header">Wyszukaj miejsca</div>
        <div class="card-body">
            <form method="get" class="row g-2 align-items-end">
        <div class="col-md-5">
            <label class="fw-bold small">Wyszukaj:</label>
            {{ form.query }}
        </div>
        
        <div class="col-md-5">
            <label class="fw-bold small">Kategoria:</label>
            {{ form.category }}
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-dark w-100">Szukaj</button>
        </div>
    </form>
        </div>
    </div>

    {% if spots %}
        <div class="list-group">
            {% for spot in spots %}
                <a href="{% url 'spot_detail' pk=spot.pk %}" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ spot.name }}</h5>
                        <small class="text-muted">Dodano: {{ spot.created_at|date:"d.m.Y" }}</small>
                    </div>
                    <p class="mb-1">{{ spot.description|truncatechars:150 }}</p>
                    <small>Kategoria: {{ spot.category }}</small>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-info">Brak miejsc do wyświetlenia.</p>
    {% endif %}
    <script>
    var inputs = document.querySelectorAll('input[type="text"], select');
    inputs.forEach(function(input) {
        input.classList.add('form-control', 'bg-light', 'border-0');
        if(input.tagName === 'SELECT') input.classList.add('form-select');
    });
</script>
{% endblock %}